* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 20px;
}

h1 {
  color: #333;
}
div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

textarea {
  width: 70%;
  padding: 10px;
  margin: 50px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 7px;
  outline: none;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #45a049;
}

button:focus {
  outline: 2px solid #e7f15b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dark {
  background-color: black;
  color: white;
}

.light {
  background-color: white;
  color: black;
}